.error-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 7rem 3.5rem 11.5rem;
}

.no-result-icon {
  width: 112px;
  height: 104px;
}

.error-header {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.5rem 0 0;
}

.error-message {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.25rem;
}
