.hourly-weather-info-container {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  padding: 1.75rem 0 1.5rem;
  margin: 0 2.5rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hourly-weather-info-container:hover {
  scrollbar-color: #BABABA transparent;
}

.this-hour-weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.day-and-hour {
  font-size: 1.6rem;
  font-weight: 450;
  text-align: center;
}

.hour {
  font-weight: 600;
}

.hour-weather-category-icon {
  width: 30px;
  height: 30px;
}

.temp-at-this-hour-container {
  display: flex;
}

.temp-at-this-hour {
  font-size: 1.6rem;
  font-weight: 600;
}

.degree-symbol-sm {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  top: -0.25rem;
  left: 0.1rem;
}
