.location-search-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 3rem;
  border: 1px solid var(--bg-secondary);
  border-radius: 5px;
  cursor: text;
  transition: border 0.1s linear;
}

.location-search-container:focus-within {
  border: 1.5px solid var(--bg-primary);
}

.location-input {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  text-transform: capitalize;
}

.location-input::placeholder {
  text-transform: none;
}

.location-input:focus {
  outline: none;
}

.search-icon-container {
  width: 4.75rem;
  height: 4rem;
  position: relative;
  left: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: background-color 0.075s linear, left 0.2s, opacity 0.1s;
}

.search-icon-container:hover {
  background-color: rgb(230, 230, 230);
}

.search-icon {
  height: 27.5px;
  position: relative;
  left: 0.1rem;
}

.toggle-on-search-icon {
  left: 0;
  opacity: 1;
  cursor: pointer;
  pointer-events: initial;
}
