.weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 4rem 3.5rem 5rem;
}

.temperature-container {
  display: flex;
}

.temperature {
  font-size: 5.5rem;
  font-weight: 700;
}

.degree-celcius {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  top: 0.3rem;
  left: 0.3rem;
}

.weather-condition {
  font-size: 2.2rem;
  font-weight: 500;
}
